@charset "utf-8";

header {
    height: 65px;
}

.pafin-header-wrap {
    display: flex;
    width: 100%;
    height: 65px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 24px;
    background-color:#fff;
}

.pafin-header-shadow {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.pafin-header__logo {
    line-height: 65px;
    display: inline-block;
    width: 280px;
    background: url(../img/logo.svg) no-repeat center left;
    background-size: 280px;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}

.pafin-header__nav {
    display: inline-block;
}

.pafin-header__nav-list {
    margin-bottom: 0;
    line-height: 65px;
}

.pafin-header__nav-item {
    display: inline-block;
    padding: 0 10px;
}

.pafin-header__sns {
    line-height: 70px;
}

.pafin-header__sns-list {
    display: flex;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0
}

.pafin-header__sns-item {
    padding-left: 10px;
    list-style: none;
}

a {
    float: right;
}