@charset "utf-8";

:root {
    --main-gutter: 12px;
    --main-position: center;
    --main-lh: 1.5;
}

html {
    font-size: 62.5%;
}

body {
    color: #1A1A1A;
    background-color: #FDF8E8;
}

header {
    height: 65px;
}

.pafin-header-wrap {
    display: flex;
    width: 100%;
    height: 65px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 24px;
    background-color:#fff;
    font-size: 1.6rem;
}

.pafin-header-shadow {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.pafin-header__logo {
    line-height: 65px;
    display: inline-block;
    width: 380px;
    background: url(../img/logo.svg) no-repeat center left;
    background-size: 280px;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}

.pafin-header__nav {
    display: inline-block;
}

.pafin-header__nav-list {
    margin-bottom: 0;
    line-height: 65px;
}

.pafin-header__nav-item {
    display: inline-block;
    padding: 0 10px;
}

.pafin-header__nav-item a{
    color: #333;
}

.pafin-header__nav-item :hover{
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.pafin-header__sns {
    line-height: 70px;
}

.pafin-header__sns a {
    color: #333;
}

.pafin-header__sns-list {
    display: flex;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0
}

.pafin-header__sns-item {
    padding-left: 10px;
    list-style: none;
}

.pafin-header__sns-item :hover{
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.pafin-header__right {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

#pafin-nav-drawer {
    display: none;
}

.pafin-hero {
    height: 500px;
    background: url(../img/image01.svg) no-repeat;
    background-size: cover;
    background-position: 0 17%;
}

.pafin-hero h1 {
    display: none;
}

.pafin-introduction {
    margin: 5rem 0;
}

.pafin-introduction__title {
    margin-top: 3rem;
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 160%;
}

.pafin-introduction__title::after {
    display: block;
    content: "";
    width: 120px;
    height: 20px;
    margin: 1rem auto;
    text-align: center;
    background: url(../img/title_01.svg) no-repeat;
}

.pafin-introduction__contents {
    margin: 3rem auto 0;
}

.pafin-introduction__img {
    margin: 0 auto 4rem;
    text-align: center;
}

.pafin-introduction__text {
    margin: 0 auto;
    max-width: 450px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 200%;
}

@media screen and (max-width: 480px) {
    .pafin-header__logo {
        margin-left: 5px;
        background-size: auto;
    }
    .pafin-hero {
        height: 350px;
        background-position: 93% 17%;
    }
}
@media screen and (max-width: 899px) {
    header {
        padding-left:5px;
    }

    .pafin-header__right {
        display: none;
    }

    .pafin-header__logo {
        width: 280px;
        margin: 0 auto;
    }

    #pafin-nav-drawer {
        position: relative;
        display: inline-block;
        margin-right: 3px;
        padding: 25px 0;
    }

    /*チェックボックス等は非表示に*/
    .nav-unshown {
        display:none;
    }

    /*アイコンのスペース*/
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
    }

    /*ハンバーガーアイコン*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #555;
        display: block;
        content: '';
        cursor: pointer;
    }
    #nav-open span:before {
        bottom: -8px;
    }
    #nav-open span:after {
        bottom: -16px;
    }

    /*閉じる用の薄黒カバー*/
    #nav-close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #B3B3B3;
        opacity: 0;
        transition: .3s ease-in-out;
    }

    /*中身*/
    #pafin-nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 50%;
        max-width: 330px;
        height: 100%;
        background: #fff;
        transition: .3s ease-in-out;
        -webkit-transform: translateX(-105%);
        -ms-transform:  translateX(-105%);
        transform: translateX(-105%);
    }

    #pafin-nav-content > ul > li {
        list-style: none;
        margin-top: 10px;
        padding: 10px 0;
    }

    #pafin-nav-content > ul > li a {
        color: #333;
    }

    #nav-input:checked ~ #nav-close {
        display: block;
        opacity: .5;
    }

    #nav-input:checked ~ #pafin-nav-content {
        -webkit-transform: translateX(0%);
        -ms-transform:  translateX(0%);
        transform: translateX(0%);
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
    .pafin-introduction__title {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    .pafin-introduction__contents {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .pafin-introduction__img {
        margin: 0;
    }
    .pafin-introduction__text {
        margin: 20px auto 0;
        padding: 0 15px;
        font-size: 1.4rem;
    }
    footer {
        text-align: right;
        font-size: .8rem;
        line-height: 1.4rem;
    }
    .footer-copyright {
        text-align: center;
    }
}